@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: 'Pretendard', 'sans-serif';
  --font-display: 'InterDisplay', 'sans-serif';

  --index-base: 1000;
  --index-main: 1010;
  --index-table-body: 1020;
  --index-table-head: 1030;
  --index-switcher-indicator: 1030;
  --index-switcher-label: 1040;
  --index-table-filters: 1040;
  --index-main-corner: 7000;
  --index-screen-header: 8050;
  --index-backdrop-modal: 9000;
  --index-content-modal: 9010;
  --index-menu: 9998;

  /* Base */
  --color-base-black: #000000;
  --color-base-white: #ffffff;

  /* Light */
  --color-blue-50: #f0f4ff;
  --color-blue-100: #dbe6ff;
  --color-blue-200: #c0d5ff;
  --color-blue-300: #a3c2ff;
  --color-blue-400: #5f8dfa;
  --color-blue-500: #3b60f5;
  --color-blue-600: #264deb;
  --color-blue-700: #1734a6;
  --color-blue-800: #1a2d78;
  --color-blue-900: #141f4a;
  --color-blue-950: #0c132e;

  --color-green-50: #f2fcf0;
  --color-green-100: #e2f7e1;
  --color-green-200: #c2edc2;
  --color-green-300: #93e593;
  --color-green-400: #78d67b;
  --color-green-500: #4db84d;
  --color-green-600: #3d993c;
  --color-green-700: #22691f;
  --color-green-800: #124a12;
  --color-green-900: #052604;
  --color-green-950: #021908;

  --color-gray-50: #f5f7fa;
  --color-gray-100: #eff2f5;
  --color-gray-200: #e1e5e9;
  --color-gray-300: #cad0d8;
  --color-gray-400: #97a0ab;
  --color-gray-500: #69707a;
  --color-gray-600: #4a515c;
  --color-gray-700: #323a45;
  --color-gray-800: #1d2229;
  --color-gray-900: #12161c;
  --color-gray-950: #090c12;

  --color-orange-50: #fff4ed;
  --color-orange-100: #ffe6d5;
  --color-orange-200: #ffccab;
  --color-orange-300: #fcab74;
  --color-orange-400: #fa873c;
  --color-orange-500: #fa7319;
  --color-orange-600: #eb650c;
  --color-orange-700: #91410a;
  --color-orange-800: #6b3510;
  --color-orange-900: #3b1b06;
  --color-orange-950: #211004;

  --color-purple-50: #f7f5ff;
  --color-purple-100: #ece8ff;
  --color-purple-200: #ddd6ff;
  --color-purple-300: #c1b5ff;
  --color-purple-400: #9c83fc;
  --color-purple-500: #7f53f7;
  --color-purple-600: #6c3eeb;
  --color-purple-700: #4c20b2;
  --color-purple-800: #321773;
  --color-purple-900: #1d0554;
  --color-purple-950: #10032e;

  --color-red-50: #fff3f1;
  --color-red-100: #ffe9e3;
  --color-red-200: #ffd3cc;
  --color-red-300: #fcb0a4;
  --color-red-400: #f78572;
  --color-red-500: #f05b43;
  --color-red-600: #db3c25;
  --color-red-700: #992a18;
  --color-red-800: #521911;
  --color-red-900: #30110c;
  --color-red-950: #1f0b08;

  --color-t-default: var(--color-base-black);
  --color-t-muted: var(--color-gray-600);
  --color-t-subtle: var(--color-gray-400);
  --color-t-disabled: var(--color-gray-300);
  --color-t-inverted: var(--color-gray-50);
  --color-t-accent: var(--color-purple-600);
  --color-t-error: var(--color-red-600);
  --color-t-warning: var(--color-orange-600);
  --color-t-success: var(--color-green-600);
  --color-t-info: var(--color-blue-600);

  --color-b-default: var(--color-base-white);
  --color-b-subtle: var(--color-gray-50);
  --color-b-muted: var(--color-gray-100);
  --color-b-emphasized: var(--color-gray-200);
  --color-b-inverted: var(--color-base-black);
  --color-b-accent: var(--color-purple-50);
  --color-b-accent-muted: var(--color-purple-100);
  --color-b-error: var(--color-red-50);
  --color-b-error-muted: var(--color-red-100);
  --color-b-warning: var(--color-orange-50);
  --color-b-warning-muted: var(--color-orange-100);
  --color-b-success: var(--color-green-50);
  --color-b-success-muted: var(--color-green-100);
  --color-b-info: var(--color-blue-50);
  --color-b-info-muted: var(--color-blue-100);

  --color-f-default: var(--color-base-black);
  --color-f-muted: var(--color-gray-400);
  --color-f-subtle: var(--color-gray-600);
  --color-f-disabled: var(--color-gray-300);
  --color-f-inverted: var(--color-gray-50);
  --color-f-accent: var(--color-purple-600);
  --color-f-error: var(--color-red-600);
  --color-f-warning: var(--color-orange-600);
  --color-f-success: var(--color-green-600);
  --color-f-info: var(--color-blue-600);

  --color-s-default: var(--color-gray-200);
  --color-s-subtle: var(--color-gray-50);
  --color-s-muted: var(--color-gray-100);
  --color-s-emphasized: var(--color-gray-300);
  --color-s-inverted: var(--color-gray-800);
  --color-s-accent: var(--color-purple-500);
  --color-s-error: var(--color-red-500);
  --color-s-warning: var(--color-orange-500);
  --color-s-success: var(--color-green-500);
  --color-s-info: var(--color-blue-500);

  --animate-tb-in: tb-in 100ms cubic-bezier(0.05, 0.7, 0.1, 1) forwards;

  --animate-bt-in: bt-in 100ms cubic-bezier(0.05, 0.7, 0.1, 1) forwards;

  --animate-lr-in: lr-in 100ms cubic-bezier(0.05, 0.7, 0.1, 1) forwards;

  --animate-rl-in: rl-in 100ms cubic-bezier(0.05, 0.7, 0.1, 1) forwards;

  --animate-tb-out: tb-out 100ms cubic-bezier(0.3, 0, 0.8, 0.15) forwards;

  --animate-bt-out: bt-out 100ms cubic-bezier(0.3, 0, 0.8, 0.15) forwards;

  --animate-lr-out: lr-out 100ms cubic-bezier(0.3, 0, 0.8, 0.15) forwards;

  --animate-rl-out: rl-out 100ms cubic-bezier(0.3, 0, 0.8, 0.15) forwards;

  --animate-backdrop-in: backdrop-in 250ms cubic-bezier(0.05, 0.7, 0.1, 1);
  --animate-backdrop-out: backdrop-out 250ms cubic-bezier(0.3, 0, 0.8, 0.15);

  --animate-dialog-slide-in: dialog-slide-in 250ms cubic-bezier(0.05, 0.7, 0.1, 1);
  --animate-dialog-slide-out: dialog-slide-out 250ms cubic-bezier(0.3, 0, 0.8, 0.15);

  @keyframes dialog-slide-in {
    0% {
      opacity: 0;
      transform: translateY(64px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes dialog-slide-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(64px);
    }
  }

  @keyframes backdrop-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes backdrop-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes tb-in {
    0% {
      opacity: 0;
      transform: translate3d(0, -4px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bt-in {
    0% {
      opacity: 0;
      transform: translate3d(0, 4px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes lr-in {
    0% {
      opacity: 0;
      transform: translate3d(-4px, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes rl-in {
    0% {
      opacity: 0;
      transform: translate3d(4px, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bt-out {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 4px, 0);
    }
  }

  @keyframes tb-out {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -4px, 0);
    }
  }

  @keyframes rl-out {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes lr-out {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(-4px, 0, 0);
    }
  }

  --shadow-bottom-100: 0px 1px 2px 0px rgba(58, 69, 92, 0.12);
  --shadow-bottom-200:
    0px 2px 2px -1px rgba(58, 69, 92, 0.04), 0px 2px 8px -1px rgba(58, 69, 92, 0.08);
  --shadow-bottom-300:
    0px 2px 2px -1px rgba(58, 69, 92, 0.04), 0px 8px 16px -2px rgba(58, 69, 92, 0.12);
  --shadow-bottom-400:
    0px 2px 2px -1px rgba(58, 69, 92, 0.04), 0px 16px 24px -6px rgba(58, 69, 92, 0.16);
  --shadow-top-100: 0px -1px 2px 0px rgba(58, 69, 92, 0.12);
  --shadow-top-200:
    0px 2px 2px -1px rgba(58, 69, 92, 0.04), 0px -2px 8px -1px rgba(58, 69, 92, 0.08);
  --shadow-top-300:
    0px -2px 2px -1px rgba(58, 69, 92, 0.04), 0px -8px 16px -2px rgba(58, 69, 92, 0.12);
  --shadow-top-400:
    0px -2px 2px -1px rgba(58, 69, 92, 0.04), 0px -16px 24px -6px rgba(58, 69, 92, 0.16);
}

html.dark {
  --color-blue-50: #141925;
  --color-blue-100: #162035;
  --color-blue-200: #192746;
  --color-blue-300: #1e356c;
  --color-blue-400: #295aa3;
  --color-blue-500: #3478e0;
  --color-blue-600: #589ded;
  --color-blue-700: #89bef5;
  --color-blue-800: #b9d8fd;
  --color-blue-900: #cfe3fa;
  --color-blue-950: #deebfc;

  --color-green-50: #131f17;
  --color-green-100: #132a1b;
  --color-green-200: #143d22;
  --color-green-300: #155a32;
  --color-green-400: #167740;
  --color-green-500: #18a158;
  --color-green-600: #3cc276;
  --color-green-700: #75e0a7;
  --color-green-800: #aceecb;
  --color-green-900: #cef5df;
  --color-green-950: #e1f7eb;

  --color-gray-0: #121314;
  --color-gray-50: #191a1c;
  --color-gray-100: #212326;
  --color-gray-200: #2b2d30;
  --color-gray-300: #4b4e54;
  --color-gray-400: #6c707a;
  --color-gray-500: #8f939c;
  --color-gray-600: #b8bbc2;
  --color-gray-700: #d5d7db;
  --color-gray-800: #e6e8eb;
  --color-gray-900: #edeff2;
  --color-gray-950: #f7f8fa;

  --color-orange-50: #221b16;
  --color-orange-100: #322319;
  --color-orange-200: #4e301c;
  --color-orange-300: #764422;
  --color-orange-400: #9d5927;
  --color-orange-500: #de752a;
  --color-orange-600: #ee893b;
  --color-orange-700: #f4b36e;
  --color-orange-800: #fad6a5;
  --color-orange-900: #fae7ca;
  --color-orange-950: #faecd9;

  --color-purple-50: #1c1a24;
  --color-purple-100: #252135;
  --color-purple-200: #362c51;
  --color-purple-300: #4e3d7a;
  --color-purple-400: #654fa3;
  --color-purple-500: #8968e0;
  --color-purple-600: #a996ef;
  --color-purple-700: #c6bcf6;
  --color-purple-800: #dfdafa;
  --color-purple-900: #e6e3fa;
  --color-purple-950: #eeebfa;

  --color-red-50: #221918;
  --color-red-100: #311c1b;
  --color-red-200: #4d2322;
  --color-red-300: #742f2d;
  --color-red-400: #9b3b38;
  --color-red-500: #d64947;
  --color-red-600: #f7685e;
  --color-red-700: #faa39d;
  --color-red-800: #f7cfcd;
  --color-red-900: #f7dedc;
  --color-red-950: #f7e7e6;

  --color-t-default: #f7f8fa;
  --color-t-muted: #d5d7db;
  --color-t-subtle: #8f939c;
  --color-t-disabled: #6c707a;
  --color-t-inverted: #000000;
  --color-t-accent: #c6bcf6;
  --color-t-error: #faa39d;
  --color-t-warning: #f4b36e;
  --color-t-success: #75e0a7;
  --color-t-info: #89bef5;

  --color-b-default: #121314;
  --color-b-subtle: #191a1c;
  --color-b-muted: #212326;
  --color-b-emphasized: #2b2d30;
  --color-b-inverted: var(--color-base-white);
  --color-b-accent: #252135;
  --color-b-accent-muted: #362c51;
  --color-b-error: #311c1b;
  --color-b-error-muted: #4d2322;
  --color-b-warning: #322319;
  --color-b-warning-muted: #4e301c;
  --color-b-success: #132a1b;
  --color-b-success-muted: #143d22;
  --color-b-info: #162035;
  --color-b-info-muted: #192746;

  --color-f-default: #f7f8fa;
  --color-f-muted: #d5d7db;
  --color-f-subtle: #8f939c;
  --color-f-disabled: #6c707a;
  --color-f-inverted: var(--color-base-black);
  --color-f-accent: #c6bcf6;
  --color-f-error: #faa39d;
  --color-f-warning: #f4b36e;
  --color-f-success: #75e0a7;
  --color-f-info: #89bef5;

  --color-s-default: #2b2d30;
  --color-s-subtle: #191a1c;
  --color-s-muted: #212326;
  --color-s-emphasized: #4b4e54;
  --color-s-inverted: #e6e8eb;
  --color-s-accent: #a996ef;
  --color-s-error: #f7685e;
  --color-s-warning: #ee893b;
  --color-s-success: #3cc276;
  --color-s-info: #589ded;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/PretendardStd-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/PretendardStd-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/PretendardStd-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/PretendardStd-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/PretendardStd-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 400;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 500;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 600;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 700;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 800;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-ExtraBold.woff2') format('woff2');
}

body {
  -webkit-font-smoothing: 'antialiased';
  background-color: var(--color-bg_secondary);
  font-family: 'Pretendard';
}
