@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: 'Pretendard', 'sans-serif';
  --font-display: 'InterDisplay', 'sans-serif';

  --index-base: 1000;
  --index-main: 1010;
  --index-table-body: 1020;
  --index-table-head: 1030;
  --index-switcher-indicator: 1030;
  --index-switcher-label: 1040;
  --index-table-filters: 1040;
  --index-main-corner: 7000;
  --index-screen-header: 8050;
  --index-backdrop-modal: 9000;
  --index-content-modal: 9010;
  --index-menu: 9998;

  /* Base */
  --color-base-black: #000000;
  --color-base-white: #ffffff;

  /* Light */
  --color-blue-50: #f0f4ff;
  --color-blue-100: #dbe6ff;
  --color-blue-200: #c0d5ff;
  --color-blue-300: #a3c2ff;
  --color-blue-400: #5f8dfa;
  --color-blue-500: #3b60f5;
  --color-blue-600: #264deb;
  --color-blue-700: #1734a6;
  --color-blue-800: #1a2d78;
  --color-blue-900: #141f4a;
  --color-blue-950: #0c132e;

  --color-green-50: #f2fcf0;
  --color-green-100: #e2f7e1;
  --color-green-200: #c2edc2;
  --color-green-300: #93e593;
  --color-green-400: #78d67b;
  --color-green-500: #4db84d;
  --color-green-600: #3d993c;
  --color-green-700: #22691f;
  --color-green-800: #124a12;
  --color-green-900: #052604;
  --color-green-950: #021908;

  --color-gray-50: #f5f7fa;
  --color-gray-100: #eff2f5;
  --color-gray-200: #e1e5e9;
  --color-gray-300: #cad0d8;
  --color-gray-400: #97a0ab;
  --color-gray-500: #69707a;
  --color-gray-600: #4a515c;
  --color-gray-700: #323a45;
  --color-gray-800: #1d2229;
  --color-gray-900: #12161c;
  --color-gray-950: #090c12;

  --color-orange-50: #fff4ed;
  --color-orange-100: #ffe6d5;
  --color-orange-200: #ffccab;
  --color-orange-300: #fcab74;
  --color-orange-400: #fa873c;
  --color-orange-500: #fa7319;
  --color-orange-600: #eb650c;
  --color-orange-700: #91410a;
  --color-orange-800: #6b3510;
  --color-orange-900: #3b1b06;
  --color-orange-950: #211004;

  --color-purple-50: #f7f5ff;
  --color-purple-100: #ece8ff;
  --color-purple-200: #ddd6ff;
  --color-purple-300: #c1b5ff;
  --color-purple-400: #9c83fc;
  --color-purple-500: #7f53f7;
  --color-purple-600: #6c3eeb;
  --color-purple-700: #4c20b2;
  --color-purple-800: #321773;
  --color-purple-900: #1d0554;
  --color-purple-950: #10032e;

  --color-red-50: #fff3f1;
  --color-red-100: #ffe9e3;
  --color-red-200: #ffd3cc;
  --color-red-300: #fcb0a4;
  --color-red-400: #f78572;
  --color-red-500: #f05b43;
  --color-red-600: #db3c25;
  --color-red-700: #992a18;
  --color-red-800: #521911;
  --color-red-900: #30110c;
  --color-red-950: #1f0b08;

  --color-t-default: var(--color-base-black);
  --color-t-muted: var(--color-gray-600);
  --color-t-subtle: var(--color-gray-400);
  --color-t-disabled: var(--color-gray-300);
  --color-t-inverted: var(--color-gray-50);
  --color-t-accent: var(--color-purple-600);
  --color-t-error: var(--color-red-600);
  --color-t-warning: var(--color-orange-600);
  --color-t-success: var(--color-green-600);
  --color-t-info: var(--color-blue-600);

  --color-b-default: var(--color-base-white);
  --color-b-subtle: var(--color-gray-50);
  --color-b-muted: var(--color-gray-100);
  --color-b-emphasized: var(--color-gray-200);
  --color-b-inverted: var(--color-base-black);
  --color-b-accent: var(--color-purple-50);
  --color-b-error: var(--color-red-50);
  --color-b-warning: var(--color-orange-50);
  --color-b-success: var(--color-green-50);
  --color-b-info: var(--color-blue-50);

  --color-f-default: var(--color-base-black);
  --color-f-muted: var(--color-gray-400);
  --color-f-subtle: var(--color-gray-600);
  --color-f-disabled: var(--color-gray-300);
  --color-f-inverted: var(--color-gray-50);
  --color-f-accent: var(--color-purple-600);
  --color-f-error: var(--color-red-600);
  --color-f-warning: var(--color-orange-600);
  --color-f-success: var(--color-green-600);
  --color-f-info: var(--color-blue-600);

  --color-s-default: var(--color-gray-200);
  --color-s-subtle: var(--color-gray-50);
  --color-s-muted: var(--color-gray-100);
  --color-s-emphasized: var(--color-gray-300);
  --color-s-inverted: var(--color-gray-800);
  --color-s-accent: var(--color-purple-500);
  --color-s-error: var(--color-red-500);
  --color-s-warning: var(--color-orange-500);
  --color-s-success: var(--color-green-500);
  --color-s-info: var(--color-blue-500);

  --animate-tb-in: tb-in 100ms cubic-bezier(0.05, 0.7, 0.1, 1) forwards;

  --animate-bt-in: bt-in 100ms cubic-bezier(0.05, 0.7, 0.1, 1) forwards;

  --animate-lr-in: lr-in 100ms cubic-bezier(0.05, 0.7, 0.1, 1) forwards;

  --animate-rl-in: rl-in 100ms cubic-bezier(0.05, 0.7, 0.1, 1) forwards;

  --animate-tb-out: tb-out 100ms cubic-bezier(0.3, 0, 0.8, 0.15) forwards;

  --animate-bt-out: bt-out 100ms cubic-bezier(0.3, 0, 0.8, 0.15) forwards;

  --animate-lr-out: lr-out 100ms cubic-bezier(0.3, 0, 0.8, 0.15) forwards;

  --animate-rl-out: rl-out 100ms cubic-bezier(0.3, 0, 0.8, 0.15) forwards;

  @keyframes tb-in {
    0% {
      opacity: 0;
      transform: translate3d(0, -4px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bt-in {
    0% {
      opacity: 0;
      transform: translate3d(0, 4px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes lr-in {
    0% {
      opacity: 0;
      transform: translate3d(-4px, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes rl-in {
    0% {
      opacity: 0;
      transform: translate3d(4px, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bt-out {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 4px, 0);
    }
  }

  @keyframes tb-out {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -4px, 0);
    }
  }

  @keyframes rl-out {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes lr-out {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(-4px, 0, 0);
    }
  }

  --shadow-bottom-100: 0px 1px 2px 0px rgba(58, 69, 92, 0.12);
  --shadow-bottom-200:
    0px 2px 2px -1px rgba(58, 69, 92, 0.04), 0px 2px 8px -1px rgba(58, 69, 92, 0.08);
  --shadow-bottom-300:
    0px 2px 2px -1px rgba(58, 69, 92, 0.04), 0px 8px 16px -2px rgba(58, 69, 92, 0.12);
  --shadow-bottom-400:
    0px 2px 2px -1px rgba(58, 69, 92, 0.04), 0px 16px 24px -6px rgba(58, 69, 92, 0.16);
  --shadow-top-100: 0px -1px 2px 0px rgba(58, 69, 92, 0.12);
  --shadow-top-200:
    0px 2px 2px -1px rgba(58, 69, 92, 0.04), 0px -2px 8px -1px rgba(58, 69, 92, 0.08);
  --shadow-top-300:
    0px -2px 2px -1px rgba(58, 69, 92, 0.04), 0px -8px 16px -2px rgba(58, 69, 92, 0.12);
  --shadow-top-400:
    0px -2px 2px -1px rgba(58, 69, 92, 0.04), 0px -16px 24px -6px rgba(58, 69, 92, 0.16);
}

.dark {
  --color-blue-50: #0c132e;
  --color-blue-100: #141f4a;
  --color-blue-200: #1a2d78;
  --color-blue-300: #1734a6;
  --color-blue-400: #264deb;
  --color-blue-500: #3b60f5;
  --color-blue-600: #5f8dfa;
  --color-blue-700: #a3c2ff;
  --color-blue-800: #c0d5ff;
  --color-blue-900: #dbe6ff;
  --color-blue-950: #f0f4ff;

  --color-green-50: #021908;
  --color-green-100: #052604;
  --color-green-200: #124a12;
  --color-green-300: #22691f;
  --color-green-400: #3d993c;
  --color-green-500: #4db84d;
  --color-green-600: #78d67b;
  --color-green-700: #93e593;
  --color-green-800: #c2edc2;
  --color-green-900: #e2f7e1;
  --color-green-950: #f2fcf0;

  --color-gray-0: #0c0c0d;
  --color-gray-50: #111112;
  --color-gray-100: #1a191c;
  --color-gray-200: #262629;
  --color-gray-300: #403d45;
  --color-gray-400: #55535c;
  --color-gray-500: #73717a;
  --color-gray-600: #a3a0ab;
  --color-gray-700: #d4d2d9;
  --color-gray-800: #e5e3e8;
  --color-gray-900: #f3f3f5;
  --color-gray-950: #fafafa;

  --color-orange-50: #211004;
  --color-orange-100: #3b1b06;
  --color-orange-200: #6b3510;
  --color-orange-300: #91410a;
  --color-orange-400: #eb650c;
  --color-orange-500: #fa7319;
  --color-orange-600: #fa873c;
  --color-orange-700: #fcab74;
  --color-orange-800: #ffccab;
  --color-orange-900: #ffe6d5;
  --color-orange-950: #fff4ed;

  --color-purple-50: #10032e;
  --color-purple-100: #1d0554;
  --color-purple-200: #321773;
  --color-purple-300: #4c20b2;
  --color-purple-400: #6c3eeb;
  --color-purple-500: #7f53f7;
  --color-purple-600: #9c83fc;
  --color-purple-700: #c1b5ff;
  --color-purple-800: #ddd6ff;
  --color-purple-900: #ece8ff;
  --color-purple-950: #f7f5ff;

  --color-red-50: #1f0b08;
  --color-red-100: #30110c;
  --color-red-200: #521911;
  --color-red-300: #992a18;
  --color-red-400: #db3c25;
  --color-red-500: #f05b43;
  --color-red-600: #f78572;
  --color-red-700: #fcb0a4;
  --color-red-800: #ffd3cc;
  --color-red-900: #ffe9e3;
  --color-red-950: #fff3f1;

  --color-t-default: #fafafa;
  --color-t-muted: #d4d2d9;
  --color-t-subtle: #73717a;
  --color-t-disabled: #55535c;
  --color-t-inverted: #000000;
  --color-t-accent: #c1b5ff;
  --color-t-error: #fcb0a4;
  --color-t-warning: #fcab74;
  --color-t-success: #93e593;
  --color-t-info: #a3c2ff;

  --color-b-default: #0c0c0d;
  --color-b-subtle: #111112;
  --color-b-muted: #1a191c;
  --color-b-emphasized: #262629;
  --color-b-inverted: var(--color-base-white);
  --color-b-accent: #10032e;
  --color-b-error: #1f0b08;
  --color-b-warning: #211004;
  --color-b-success: #021908;
  --color-b-info: #0c132e;

  --color-f-default: #fafafa;
  --color-f-muted: #73717a;
  --color-f-subtle: #73717a;
  --color-f-disabled: #403d45;
  --color-f-inverted: var(--color-base-black);
  --color-f-accent: #c1b5ff;
  --color-f-error: #fcb0a4;
  --color-f-warning: #fcab74;
  --color-f-success: #93e593;
  --color-f-info: #a3c2ff;

  --color-s-default: #262629;
  --color-s-subtle: #111112;
  --color-s-muted: #1a191c;
  --color-s-emphasized: #403d45;
  --color-s-inverted: #e5e3e8;
  --color-s-accent: #9c83fc;
  --color-s-error: #f78572;
  --color-s-warning: #fa873c;
  --color-s-success: #62d666;
  --color-s-info: #5f8dfa;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/PretendardStd-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/PretendardStd-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/PretendardStd-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/PretendardStd-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/PretendardStd-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 400;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 500;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 600;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 700;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'InterDisplay';
  font-style: normal;
  font-weight: 800;
  font-feature-settings:
    'ss10' on,
    'cv01' on,
    'cv02' on,
    'cv03' on,
    'cv04' on,
    'cv05' on,
    'cv06' on,
    'cv07' on,
    'cv09' on,
    'cv12' on,
    'cv13' on;
  src: url('../assets/fonts/InterDisplay-ExtraBold.woff2') format('woff2');
}

body {
  -webkit-font-smoothing: 'antialiased';
  background-color: var(--color-bg_secondary);
  font-family: 'Pretendard';
}
